.page-navigation{
  padding: 0 30px;
  align-items: center;
  position: sticky;
  top: 0;
  left: 0;
  font-size: 14px;
  background-color: inherit;
  z-index: 9;
  box-shadow: 0 4px 12px 0 #2e2e2e;
  height: 70px;
  position: fixed;
  top: 0;
  background: #242424;
  .logo-container{
    display: flex;
    img{
      width: 120px;
    }
  }
  .nav-links-container{
    text-align: center;
    height: 100%;
    display: flex;
    .nav-links-wrapper{
      align-items: center;
      .nav-items{
        cursor: pointer;
        color: white;
        transition: all 0.2s;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        font-weight: 600;
      }
      .nav-items:hover{
        background-color: #ae0642ad;
      }
      .nav-items.active{
        background-color: #f50057;
      }
      
      .nav-items:last-child#authentication-container{
        justify-content: flex-end;
        display: flex;
        text-align: right;
        button{
          font-size: 12px;
        }
      }
      .nav-items[data-name="contact-us"]{
        display: flex;
        justify-content: flex-end;
      }
    }
  }
  .nav-links-container.authenticate{
    .nav-links-wrapper{
      justify-content: flex-end;
    }
  }

  .actions{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    button{
      height: 33px;
    }
    button.gifkart-login{
      float: right;
      margin-left: 10px;
      span:first-child{
        font-size: 12px;
      }
    }
    button.gifkart-signup{
      background-color: transparent;
      border: 1px solid white;
      color: white;
    }
  }
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .page-navigation{
    height: 60px;
    .logo-container{
      img{
        width: 80px;
      }
    }
  }
}