@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Staatliches&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&display=swap');

html, body, #root{
  margin: 0;
  padding: 0;
  height: 100%;
}

#app{
  height: 100%;
}
.gifkart-web-app-v1{
  margin: auto;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: white;
  height: 100%;
  overflow: hidden;
}

.download-app-button{
  box-shadow: none !important;
  color: white;
  height: 40px;
  border-radius: 4px;
  padding: 0 15px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  font-size: 14px;
  font-weight: 600;
  min-width: 150px;
  cursor: pointer;
}