.gifkart-search-wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  .gifkart-search{
    max-width: 345px;
    margin-left: auto;
    input{
      width: 100%;
      height: 40px;
      box-sizing: border-box;
      border: none;
      box-shadow: none;
      background: #4a4848;
      border-radius: 4px;
      padding: 0 15px;
      color: white;
    }
  }
}