.page-landing-container{
  height: 100%;
  transition: all 0.2s;
  .section-main-heading{
    text-align: center;
    width: 70%;
    margin: 30px auto auto;
    padding: 15px 0px;
  }
  .page-body{
    margin-top: 70px;
    .gif-items-container{
      padding: 30px;
      display: flex;
      flex-wrap: wrap;
      position: relative;
      .gif-item-container{
        background: #383838;
      }
      .gif-item-container,
      .gif-item-fallback-container{
        height: 200px;
        flex-grow: 1;
        margin: 10px;
        overflow: hidden;
        position: relative;
        cursor: pointer;
        border-radius: 4px;
        img{
          max-height: 100%;
          min-width: 100%;
          object-fit: cover;
        }
        .gif-item-overlay{
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: #0f0e0ede;
          .gif-overlay-action{
            position: absolute;
            right: 10px;
            top: 10px;
            color: white;
          }
          .user-container{
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            display: flex;
            padding: 10px;
            text-decoration: none;
            color: white;
            .avatar-logo{
              display: inline-block;
              min-width: fit-content;
              border-radius: 50%;
              background: #746e6e;
              width: 30px;
              height: 30px;
              padding: 5px;
            }
            .avatar-label{
              display: flex;
              align-items: flex-start;
              padding: 0 10px;
              flex-direction: column;
              .title{
                font-weight: 600;
                font-size: 14px;
                margin-bottom: 5px;
              }
              .sub-title{
                white-space: nowrap;
                overflow: hidden;
                font-size: 10px;  
                text-overflow: ellipsis;
                width: 120px;
              }
            }
          }
        }
      } 
    }

    .no-results-found-container{
      align-items: center;
      justify-content: center;
      text-align: center;
      .no-results-found-label{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 18px;
        margin-bottom: 5px;
      }
      .no-results-found-sub-label{
        font-size: 12px;
        color: gray;
        
      }
    }

    .progress-bar-wrap-container{
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      justify-items: center;
      margin: 30px 0;
      .progress-bar-container{
        display: flex;
        width: 500px;
        height: 25px;
        background: black;
        border-radius: 6px;
        border: 2px solid dimgray;
        align-items: center;
        justify-content: center;
        @keyframes load {
          from {transform: translate(-180px, 0)}
          to {transform: translate(180px, 0)}
        }  
        .progress-bar {
          width: 100px;
          height: 10px;
          background: linear-gradient(to bottom right, cyan, lightblue);
          border-radius: 6px;
          box-shadow: 0 0 10px lightblue;
          
          animation: load .25s infinite alternate ease-in-out;
        }
      }
    }
  }
}

.page-landing-container[data-theme="dark"]{
  background-color: #242424;
}

.page-landing-container[data-theme="light"]{
  background-color: white;
  color: #000000;
  .section-main-heading{
    color: #000000;
  }
}